/*全体*/

html {
    font-size: 100%;
}
html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -moz-tab-size: 4;
    tab-size: 4;
    word-break: normal;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}
* {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: inherit;
}

ul{
    list-style: none;
}

body {
    font-family: "ヒラギノ角ゴ ProN W3", "Yu Gothic", Verdana, Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: rgba(248, 244, 244, 0.911);
    margin:0 auto
}
img {
    border-style: none;
}

/*Body- header*/
#header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0 4%;

}
#header ul {
    list-style: none;
    display: flex;
    padding: 10px;
}
#header ul li {
    margin: 10px;
}
img[src$="IMG/FACEBOOK風のアイコン素材 その3.jpeg"]{
    height: 30px;
    width: 30px;
}
a {
    text-decoration: none;
    color: black;
}

/*Body-main*/
section {
    display: block;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.content img {
    height: 150px;
    width: 150px;
}

/* Body-Study */
#study li {
    width: 32%;
}
#study ul {
    display: flex;
    justify-content: space-between;
}

/*Body-Materials*/

#materials ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img[src$="IMG/Udemy.png"] {
    height: 126px;
    width: 240px;
}
img[src$="IMG/Progate.png"] {
    height: 55px;
    width: 240px;
}
img[src$="IMG/youtube.jpg"] {
    height: 126px;
    width: 240px;
}

/*Body-contact*/

label {
    cursor: default;
}

dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

#contact dd {
    width: 100%;
    margin-bottom: 10px;
}


#contact dt {
    width: 100%;
}
#contact dt {
    width: 15%;
}

#contact dd input {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #24292e;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: inherit;
    border-radius: 0;
    background-color: #fff;
}

textarea {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #24292e;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
}

textarea {
    font: inherit;
}
textarea {
    overflow: auto;
    resize: none;
    width: 100%;
    height: 200px;
    border: solid 1px #c8c8c8;
}

#contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

[type=submit] {
    cursor: pointer;
    text-align: center;
}





/*Body-footer*/

#footer p {
    font-size: 0.5rem;
    padding: 10px 0px;
    text-align: center;
}
