/*全体*/

html {
    font-size: 100%;
}
html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -moz-tab-size: 4;
    tab-size: 4;
    word-break: normal;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}
* {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: inherit;
}

ul{
    list-style: none;
}

body {
    font-family: "ヒラギノ角ゴ ProN W3", "Yu Gothic", Verdana, Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: rgba(248, 244, 244, 0.911);
    margin:0 auto
}
img {
    border-style: none;
}

/*Body- header*/
#header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0 4%;

}
#header ul {
    list-style: none;
    display: flex;
    padding: 10px;
}
#header ul li {
    margin: 10px;
}
img[src$="https://github.com/Mark-int/izumo_study/blob/main/FACEBOOK%E9%A2%A8%E3%81%AE%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E7%B4%A0%E6%9D%90%20%E3%81%9D%E3%81%AE3.jpeg?raw=true"]{
    height: 30px;
    width: 30px;
}
a {
    text-decoration: none;
    color: black;
}

/*Body-main*/
section {
    display: block;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.content img {
    height: 150px;
    width: 150px;
}

/* Body-Study */
#study li {
    width: 32%;
}
#study ul {
    display: flex;
    justify-content: space-between;
}

/*Body-Materials*/

#materials ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img[src$="https://github.com/Mark-int/izumo_study/blob/main/Udemy.png?raw=true"] {
    height: 126px;
    width: 240px;
}
img[src$="https://github.com/Mark-int/izumo_study/blob/main/Progate.png?raw=true"] {
    height: 55px;
    width: 240px;
}
img[src$="https://github.com/Mark-int/izumo_study/blob/main/youtube.jpg?raw=true"] {
    height: 126px;
    width: 240px;
}


/*Body-footer*/

#footer p {
    font-size: 0.5rem;
    padding: 10px 0px;
    text-align: center;
}
